.scrollbar-thin {
            scrollbar-width: thin;
            scrollbar-color: #9A3412 #FEFCE8;
        }
.scrollbar-thin::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
.scrollbar-thin::-webkit-scrollbar-thumb {
            background-color: #9A3412;
            border-radius: 4px;
        }
.scrollbar-thin::-webkit-scrollbar-track {
            background-color: #FEFCE8;
        }

/* ===== for gallery.html ===== */
 .active-cat button {
            background-color: white !important;
            color: #7c2d12 !important;
            box-shadow: 0 4px 15px rgba(0,0,0,0.1);
            transform: scale(1.05);
        }
        .scrollbar-hide::-webkit-scrollbar { display: none; }


    
    @keyframes slide-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.animate-slide-up {
    animation: slide-up 0.3s ease-out;
}
